<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="my-auto pb-10 text-center">
    <h2 class="text-dark mb-10 text-3xl font-bold">Contact.</h2>
    <p>Do you have questions or want to send a request?</p>
    <p>Just send me a quick e-mail 🙌</p>
  </div>
  <form class="my-contact-text-color mx-auto">
    <div class="mb-3">
      <input
        type="text"
        placeholder="Your name"
        class="rounded-3xl bg-white p-3 outline-none"
      />
    </div>
    <div class="mb-6">
      <input
        type="email"
        placeholder="Your e-mail"
        class="rounded-3xl bg-white p-3 outline-none"
      />
    </div>
    <div class="mb-6">
      <textarea
        rows="6"
        placeholder="Your message"
        class="resize-none rounded-3xl bg-white p-3 outline-none"
      ></textarea>
    </div>
    <button type="submit" class="my-btn mx-auto">Send Message</button>
  </form>
</div>
