<footer>
  <div
    class="my-border-color flex flex-col border-t py-7 sm:flex-row sm:items-center sm:justify-between"
  >
    <div class="flex flex-col items-center justify-center sm:items-start">
      <span class="text-md">Thanks for visiting 👋</span>
      <span class="my-auto mt-2 text-xs text-gray-400">
        © {{ globals.currentYear }} mauble. All rights reserved.
      </span>
    </div>

    <ul
      class="mt-5 flex items-center justify-center gap-6 sm:mt-0 lg:justify-end"
    >
      <a
        class="my-hover-opacity my-animate text-sm underline"
        [routerLink]="'/legal-notice'"
        >Legal Notice</a
      >
      <a
        [href]="'mailto:' + globals.emailAddress"
        class="my-hover-opacity my-animate"
      >
        <fa-icon [icon]="globals.faEnvelope" size="xl" />
      </a>
      <a [href]="globals.githubUrl" class="my-hover-opacity my-animate">
        <fa-icon [icon]="globals.faGithub" size="xl" />
      </a>
    </ul>
  </div>
</footer>
