@reference "../../styles.css";

.my-navbar-color {
  @apply bg-black/[.2];
}

.my-dropdown--open {
  max-height: 500px;
  opacity: 1;
  overflow: hidden;
  transition:
    max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.2s;
}

.my-dropdown--closed {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.2s;
}
