<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="mb-14 text-center">
    <h2 class="text-dark mb-14 text-3xl font-bold">Contact.</h2>
    <div>
      <p>Do you have questions or want to send a request?</p>
      <p>Just send me a quick e-mail 🙌</p>
    </div>
  </div>
  <form class="my-contact-text-color px-10">
    <div class="mb-3">
      <input
        type="text"
        placeholder="Your name"
        class="w-full rounded-3xl bg-white p-3 outline-none"
      />
    </div>
    <div class="mb-6">
      <input
        type="email"
        placeholder="Your e-mail"
        class="w-full rounded-3xl bg-white p-3 outline-none"
      />
    </div>
    <div class="mb-6">
      <textarea
        rows="6"
        placeholder="Your message"
        class="w-full resize-none rounded-3xl bg-white p-3 outline-none"
      ></textarea>
    </div>
    <button type="submit" class="my-btn w-full">Send Message</button>
  </form>
</div>
