<span class="my-app-bg-color"></span>
<body class="my-body-margin">
  <app-navbar />
  <div class="my-router-width">
    <router-outlet />
  </div>
  <footer>
    <div class="my-header-footer-width">
      <div
        class="my-border-color border-t py-7 sm:flex sm:items-center sm:justify-between"
      >
        <ul class="flex flex-wrap justify-center gap-4 text-xs lg:justify-end">
          <li class="text-sm">Thanks for visiting 👋</li>
        </ul>
        <ul class="mt-8 flex justify-center gap-6 sm:mt-0 lg:justify-end">
          <a [href]="'mailto:' + globals.emailAddress" class="my-icon">
            <!-- <font-awesome-icon :icon="['fas', 'envelope']" size="xl" /> -->
          </a>
          <a [href]="globals.githubUrl" class="my-icon">
            <!-- <font-awesome-icon :icon="['fab', 'github']" size="xl" /> -->
          </a>
        </ul>
      </div>
    </div>
  </footer>
</body>
