<body class="my-width">
  <app-navbar />
  <router-outlet />
  <footer>
    <div
      class="my-border-color border-t py-7 sm:flex sm:items-center sm:justify-between"
    >
      <li class="text-md flex flex-wrap justify-center gap-4 lg:justify-end">
        Thanks for visiting 👋
      </li>
      <ul class="mt-7 flex justify-center gap-6 sm:mt-0 lg:justify-end">
        <a
          [href]="'mailto:' + globals.emailAddress"
          class="my-hover-opacity my-animate"
        >
          <fa-icon [icon]="globals.faEnvelope" size="xl" />
        </a>
        <a [href]="globals.githubUrl" class="my-hover-opacity my-animate">
          <fa-icon [icon]="globals.faGithub" size="xl" />
        </a>
      </ul>
    </div>
  </footer>
</body>
