<div class="flex min-h-screen flex-col items-center justify-center">
  <p>
    Photo taken by
    <a
      href="https://unsplash.com/de/@lucabravo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      class="my-hover-opacity my-animate underline"
      >Luca Bravo</a
    >
    from
    <a
      href="https://unsplash.com/de/fotos/grauer-laptop-computer-eingeschaltet-XJXWbfSo2f0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      class="my-hover-opacity my-animate underline"
      >Unsplash</a
    >.
  </p>
</div>
