@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  html {
    @apply text-white text-shadow-lg;

    animation: BackgroundGradient 25s ease-in-out infinite;
    background: linear-gradient(170deg, #6b2b00, #030053, #000000);
    background-size: 500% 200%;
    z-index: -1;

    scroll-behavior: smooth;
  }
}

@layer components {
  .my-width {
    @apply mx-auto max-w-5xl px-10;
  }

  .my-animate {
    @apply transition duration-150 ease-in-out;
  }

  .my-hover-scale {
    @apply hover:scale-[1.025];
  }

  .my-hover-opacity {
    @apply hover:opacity-70;
  }

  .my-hover-shadow {
    @apply hover:shadow-xl;
  }

  .my-border-color {
    @apply border-white;
  }

  .my-element-primary {
    @apply bg-gray-800;
  }

  .my-element-secondary {
    @apply bg-gray-500;
  }

  .my-btn {
    @apply rounded-3xl bg-gray-700 p-3 text-center font-semibold text-white hover:bg-gray-500;
  }
}
